{{ define "link" }}
<tr id="bookmark-{{.ID}}">
	<td>
		<button class="btn btn-link" data-hx-target="#bookmark-{{.ID}}" data-hx-patch="/bookmarks/{{.ID}}" name="inbox" value="read">📤</button>
		<button class="btn btn-link" data-hx-target="#bookmark-{{.ID}}" data-hx-patch="/bookmarks/{{.ID}}" name="inbox" value="postponed">💤</button>
		<button class="btn btn-link" data-hx-target="#bookmark-{{.ID}}" data-hx-delete="/bookmarks/{{.ID}}">🗑</button>
		<a href="{{.URL}}" target="_blank">{{ .Title }}</a>
	</td>
	<td>
		<a href="{{.URL}}" target="_blank">{{ .URL }}</a>
	</td>
</tr>
{{ end }}
{{ define "newLink" }}
<div class="card" id="new-link-card">
	<div class="card-header"><span>Insert New Bookmark</span></div>
	<div class="card-body">
		<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
			<form>
			<table class="table my-0" id="dataTable">
			<thead>
				<tr>
				<th>URL</th>
				<th>Title</th>
				<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td><input type="url"  placeholder="URL"        name="url"   id="new-link-URL"   data-hx-get="/newLink"     data-hx-target="#container"           data-hx-trigger="keyup changed delay:500ms"        value="{{- .URL -}}"  ></td>
				<td><input type="text" placeholder="Site Title" name="title" id="new-link-title"                                                                                                                     value="{{- .Title -}}"></td>
				<td><button class="btn btn-primary"                                              data-hx-post="/bookmarks/" data-hx-target="#container"                                                                                    >add</button></td>
				</tr>
			</tbody>
			</table>
			</form>
		</div>
	</div>
</div>
{{ end }}

<div class="card-body">
	<div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
	    <table class="table my-0" id="dataTable">
		<thead>
		    <tr>
			<th>Title</th>
			<th>URL</th>
		    </tr>
		</thead>
		<tbody>
			{{ range . }}
			{{ template "link" . }}
			{{ end }}
		</tbody>
	    </table>
	</div>
</div>
