<div id="new-link-card">
	<form>
		<input type="hidden" name="loadTitle" value="true">
		<fieldset>
			<input type="url" placeholder="URL" name="url" id="new-link-URL" value="{{- .URL -}}">
		</fieldset>
		<fieldset role="group">
			<input type="text" placeholder="Site Title" name="title" id="new-link-title"
				value="{{- .Title -}}">
			<button type="button" data-hx-get="/post" data-hx-include="[name='url'],[name='loadTitle']"
				data-hx-target="#container">fetch&nbsp;title</button>
		</fieldset>
		<fieldset>
			<textarea placeholder="Description" name="description"
				id="new-link-description">{{- .Description -}}</textarea>
		</fieldset>
		<button type="submit" data-hx-post="/bookmarks/"
			hx-include="[name='url'],[name='title'],[name='description']"
			data-hx-target="#container">add</button>
	</form>
</div>
